@mixin flexContainer() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($color, $bg) {
  color: $color;
  background-color: $bg; //background: #000;
  padding: 11px 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(27 / 18);
  cursor: pointer;

  &:hover {
    background-color: lighten($bg, 5%);
  }

  &:active {
    background-color: darken($bg, 5%); //4 what?
  }
}

@mixin coverBg() {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
