@import "./colors";
@import "./mixins";

.container {
  // max-width: 1600px; // 1920px;
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  padding: 45px 0 0 32px; // what about sec w/o motocycle

  @media only screen and (max-width: 500px) {
    // &:not(.section-blog) {
      &:not(.section-blog):not(.section-podcasts) {
      padding: 25px 16px 0 16px;
    }
  }

  &-about {
    overflow: hidden;
  }

  &-light {
    background-color: $white; //bg ??
  }

  &-models,
  &-blog {
    padding-bottom: 45px;

    // @media only screen and (max-width: 500px) {
    //   padding-right: 16px;
    // }
  }

  &-podcasts {
    padding-bottom: 80px;

    .section {
      &-title {
        width: 100%;
        text-align: center;
      }
    }
  }

  &-title {
    width: 15%;
    font-size: 32px;
    font-weight: 500;
    line-height: calc(48 / 32);
    color: $bg;
    max-width: 100%;

    @media only screen and (max-width: 1820px) {
      width: 25%;
    }

    @media only screen and (min-width: 1000px) {
      min-width: max-content;
    }

    @media only screen and (max-width: 1000px) {
      // font-size: 24px;//??
      width: 100%;
    }
  }
}

.wrapper {
  display: flex;

  @media only screen and (max-width: 1500px) {
    column-gap: 12px;
  }

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.header {
  display: flex;
  @include flexContainer;
  justify-content: space-between;
  padding: 20px 32px;

  &-link {
    line-height: calc(24 / 16); //24
    font-weight: 700;

    @include flexContainer;
    column-gap: 12px;

    svg {
      width: 20px;
      height: 20px;

      fill: $light;
    }

    &:hover {
      color: darken($light, 10%);

      svg {
        fill: darken($light, 10%); //maybe through color?
      }
    }

    // @media only screen and (max-width: ) {
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}

.logo {
  svg {
    width: 60px;
    height: 60px;
  }
}

.menu {
  display: flex;
  column-gap: 20px;

  @media only screen and (max-width: 500px) {
    display: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
// ---------------------hero
.hero {
  //in mobi raise blank fields bg
  .slider {
    height: 620px; //-------------------?????????

    @media only screen and (max-width: 1000px) {
      height: 300px;
    }

    &-item {
      position: relative;
      @include flexContainer; //?????????
      gap: 32px; //cg Ja
      height: 100%;
      width: 100%;

      &__image {
        height: 100%;
        width: 100%; // width: 50%;???????????????????
        @include coverBg;

        @media only screen and (max-width: 600px) {
          position: absolute;
          width: 100%;
          height: 100%;
          filter: opacity(0.25); // filter: sepia(1);
        }
      }

      &__content {
        width: 100%;

        @media only screen and (max-width: 600px) {
          position: relative;
          z-index: 1;
          text-align: center;
          width: 100%;
        }
      }

      &__description {
        font-size: 20px;
        font-weight: 400;
        line-height: calc(20 / 30);

        @media only screen and (max-width: 1000px) {
          font-size: 12px;
          line-height: calc(18 / 12);
        }
      }

      &__title {
        font-size: 90px;
        font-weight: 700;
        line-height: calc(135 / 90);

        @media only screen and (max-width: 1000px) {
          font-size: 50px;
          line-height: calc(70 / 50);
        }
      }

      &__button {
        @include button($text, $action);

        @media only screen and (max-width: 1000px) {
          padding: 6px 14px;
          font-size: 14px;
        }
      }
    }
  }
}

// ==================== about
.about {
  max-width: 650px; //35%;;
  padding-bottom: 40px;

  @media only screen and (max-width: 1820px) {
    max-width: 100%;
  }

  &-image {
    text-align: right;
    position: relative;

    @media only screen and (min-width: 1820px) {
      flex-grow: 1;
    }

    img {
      position: absolute; // vertical-align: bottom;
      max-width: 80vw; // unset;
      bottom: 0;
      right: 0;

      @media only screen and (max-width: 1820px) {
        max-width: 80vw;
        z-index: 0;
        filter: opacity(0.25);
      }
    }
  }

  &-title {
    font-weight: 500;
    margin-top: 24px;
    font-size: 20px;
    line-height: calc(30 / 20);
    color: $bg; //repeat?

    @media only screen and (max-width: 1000px) {
      font-size: 16px;
    }
  }

  &-content {
    margin-top: 24px;

    @media only screen and (max-width: 1000px) {
      margin-top: 16px;
    }

    p {
      font-weight: 400; // font-size: 16px;
      line-height: calc(26 / 16); //26 li?
      color: $dark;

      &:not(:last-child) {
        margin-bottom: 16px;

        @media only screen and (max-width: 1000px) {
          margin-bottom: 8px;
        }
      }

      @media only screen and (max-width: 1000px) {
        font-size: 12px;
        line-height: calc(18 / 12);
      }
    }
  }
}

// -----------------slogan
.slogan {
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);

  @media only screen and (max-width: 1000px) {
    font-size: 12px;
    padding: 7px 0;
  }
}

// ------------------ models
.models {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  gap: 40px;

  @media only screen and (max-width: 1200px) {
    gap: 16px;
  }

  @media only screen and (max-width: 1000px) {
    width: 100%;
    margin-top: 12px;
  }

  &-item {
    position: relative;
    background-color: $text; //bg:?
    width: calc(100% / 3 - 40px);

    @media only screen and (max-width: 1200px) {
      width: calc(100% / 3 - 16px);
    }
    //1000 Ja 2nd att
    @media only screen and (max-width: 900px) {
      width: calc(50% - 16px);
    }

    @media only screen and (max-width: 500px) {
      width: 100%;
    }

    &__info {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      @include flexContainer;
      justify-content: space-between;
      padding: 24px;
    }

    &__price {
      font-weight: 400; //???
      font-size: 14px;
      line-height: calc(21 / 14);
      color: $bg;
    }

    &__tag {
      font-weight: 700;
      font-size: 12px;
      line-height: calc(15 / 12);
      text-transform: uppercase;
      background-color: $action; //bg?
      color: $white;
      padding: 5px 15px;
    }

    // &__image{
    //   text-align: center;//??????????
    // }

    &__content {
      padding: 0 24px 24px 24px;
    }

    &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: calc(30 / 20);
      color: $bg;
    }

    &__description {
      font-weight: 400;
      font-size: 12px;
      line-height: calc(18 / 12);
      color: $dark;
      margin-top: 7px;
    }
  }
}
// ----------------- podcast
.podcasts {
  &-description {
    margin: 20px auto 32px auto;
    max-width: 600px;
    text-align: center; // font-weight: 400; //??def
    line-height: calc(26 / 16);
    color: $dark;
  }

  &-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 835px;
    margin: 0 auto;
    gap: 32px;
  }

  &-tab {
    padding: 8px 48px;
    font-weight: 400; //def?
    line-height: calc(26 / 16);
    background-color: $light; //bg Ja
    color: $bg;
    cursor: pointer;

    &:hover {
      &:not(.active) {
        background-color: lighten($light, 3%);
      }
    }

    &.active {
      color: $light;
      background-color: $action;
    }
  }

  &-content {
    margin-top: 40px;
    max-width: calc(100% - 64px);
    overflow-x: scroll; //or auto
    // overflow: hidden;

    ::-webkit-scrollbar {
      display: none;
    }

    &__wrapper {
      width: max-content;
      display: flex;
      column-gap: 40px;
    }
  }
}

.podcast {
  width: 460px; // calc(100% / 3);

  &-info {
    @include flexContainer;
    justify-content: space-between;
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(26 / 20);
    color: $bg;
  }

  &-time {
    font-weight: 400; //def?
    font-size: 12px;
    line-height: calc(26 / 12);
    color: $info;
  }

  &-description {
    margin: 16px 0;
    font-size: 400; //def
    font-size: 14px;
    line-height: calc(26 / 14);
    color: $dark;
  }

  &-socials {
    @include flexContainer; //versus Jana 2 strings
    justify-content: flex-start;
    column-gap: 24px;

    span {
      font-weight: 700;
      font-size: 12px;
      line-height: calc(26 / 12);
      color: $info;
    }
  }

  &-icons {
    @include flexContainer;
    column-gap: 16px;

    a {
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
      }
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
// ============== blog
.blog {
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    &__button {
      @include button($text, $action); //no compatible
      margin: 42px auto 0 auto;
    }
  }

  &-item {
    position: relative;
    height: 500px;
    @include coverBg;

    @media only screen and (max-width: 1200px) {
      height: 250px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0; //3rd??
      bottom: 0; //???????
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(226, 226, 226, 0.15);
      backdrop-filter: blur(17.5px);
      opacity: 0;
      cursor: pointer;
    }

    &:hover {
      &:before,
      .blog-item__title {
        opacity: 1;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 70px;
      line-height: calc(105 / 70);
      color: $white;
      position: relative; // z-index: 1; //superflues
      opacity: 0;
      // text-align: center; //superflues
      height: 100%;
      @include flexContainer;

      @media only screen and (max-width: 1000px) {
        font-size: 16px;
        line-height: calc(24 / 16);
      }
    }
  }

  &-row {
    display: flex;
    column-gap: 4px;

    // &:nth-child(2n) {
    &:nth-child(even) {
      .blog {
        &-item {
          width: calc(50% - 4px);
        }
      }
    }

    // &:nth-child(2n + 1) {
    &:nth-child(odd) {
      .blog {
        &-item {
          &:first-child {
            width: 60%;
          }

          &:last-child {
            width: 40%; //flex-grow: 1;
          }
        }
      }
    }
  }
}
// ---------footer
.footer {
  display: flex;
  align-items: center;
  padding: 20px 32px;

  // p {
  font-size: 13px;
  line-height: calc(20 / 13);
  color: $text; //Jan #
  // }

  &-reserved {
    margin-left: auto;
    font-weight: 400; //def?
  }

  &-company {
    font-weight: 700;
    margin-left: 24px;
  }
}
// -------------------------------------------------
.mobile-menu {
  position: relative;
  display: none;

  @media only screen and (max-width: 500px) {
    display: block;
  }

  &__button {
    text-transform: uppercase;
    font-weight: 400; //def?
    font-size: 13px;

    &:hover {
      & + .mobile-menu__nav {
        display: block; // visibility: visible;
      }
    }
  }

  &__nav {
    display: none; // visibility: hidden;
    position: absolute;
    right: 0;
    background-color: $light;
    padding: 24px;
    z-index: 2;

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    a {
      color: $bg;
    }
  }
}
